<header class="main-header content-wrapper">

  <input type="checkbox" id="menu-checkbox" />

  <nav class="center-wrapper nav-main">

    
	  <a class="blog-logo" href="{{ site.baseurl }}/">{{ site.title }}</a>
	
   
	<a href="{{ "/posts" | prepend: site.baseurl }}">文章列表</a> 
 
  <!-- <a href="{{ "/categories" | prepend: site.baseurl }}">分类列表</a> -->
 
   <!-- 与    <a href="{{ "/categories" | prepend: site.baseurl }}">文章列表</a> -->
   
   <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
	
	
	<a href="{{ "/about" | prepend: my_page.url }}">关于我</a>

	 
  </nav>

</header>
