---
layout: default
---
<article class="post">

  <h1 class="post-title">{{ page.title }}</h1>

  <p class="post-meta">
    <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%d-%m-%Y" }}</time>

    {% if page.author %}
      &nbsp;/&nbsp;
      <span>{{ page.author }}</span>
    {% endif %}
  </p>

  <div class="post-content">

    {{ content }}

    {% if page.next.url %}
      <a class="link-to-post" href="{{ page.next.url }}">
        <span class="link-to-post__next">&#10535; &nbsp;Next post</span>
        <span class="link-to-post__title">{{ page.next.title }}</span>
      </a>
    {% endif %}

    {% if page.previous.url %}
      <a class="link-to-post" href="{{ page.previous.url }}">
        <span class="link-to-post__prev">&#10535; &nbsp;Previous post</span>
        <span class="link-to-post__title">{{ page.previous.title }}</span>
      </a>
    {% endif %}
	 
	 <div id="container"></div>
	 <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
	 <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
	 <script>
	 var gitment = new Gitment({
	   id: '页面 ID', // 可选。默认为 location.href
	   owner: '13space',
	   repo: 'comment',
	   oauth: {
	     client_id: 'e51b9cc37dbb35cf36fa',
	     client_secret: '3f6c2e396fe81b346afd5a66e1ef5c81d3514754',
	   },
	 })
	 gitment.render('container')
	 </script>

  </div>
  


